.apocolyptium-logo {
    margin: auto;
    text-align: center;
    font-family: Copperplate;
    font-size: 5em;
    color: #dbdbdb;
}

.description-text {
    padding-top: 50px;
    width: 60%;
    text-align: center;
    margin: auto;
}

.video {
    z-index: 100;
    padding-top: 100px;
    display: block;
    text-align: center;
    margin: auto;
}